[submodule "deps/uri"]
	path = deps/uri
	url = https://github.com/kast-lang/uri
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/bhavyakukkar/kast-json
[submodule "deps/minicoro"]
	path = deps/minicoro
	url = https://github.com/edubart/minicoro
