then        0 wrap always = _ ";" "\n" _ ->
stmt        0 wrap always = _ ";" "\n"
"use .*"    1 wrap never  = "use" " " _ ".*"
if          1 wrap if_any = "if" " " cond " "/"\n" "then" " " then " "/"\n" "else" " " else ->
or         10 wrap if_any = _ " "/"\n" "or" " " _
and        11 wrap if_any = _ " "/"\n" "and" " " _
"|>"       20 wrap if_any = <- arg " "/"\n\t" "|>" " " f
apply      50 wrap never  = <- f " " arg
scope    1000 wrap if_any = "(" ""/"\n\t" _:any ""/"\n" ")"