{% extends "juice/templates/index.html" %}

{% block title %} Kast {% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        Kast
    </h1>
    <h3 class="title-text">
        A first-class programming language
    </h3>
    <p style="color:white">
        Functions, types, templates, bindings, AST, IR, the compiler itself &mdash;
        everything is treated as value in Kast, bringing absolute power
    </p>
    <div>
        <a class="github-button" href="https://github.com/kast-lang/kast" data-size="large" data-show-count="true"
            aria-label="Star Kast on GitHub">Star</a>
    </div>
</section>

<section id="showcase" class="hero-image">
    <link rel="stylesheet" href="{{ get_url(path="tabs.css") }}"/>
    <script defer src="{{ get_url(path="showcase.js") }}"></script>

    <div id="tab-bar">
        <a class="nav-item subtitle-text" selected onclick="raise(0)" >Hello World</a>
        <a class="nav-item subtitle-text" onclick="raise(1)" >Fibonacci</a>
        <a class="nav-item subtitle-text" onclick="raise(2)" >Exceptions</a>
    </div>

    <div id="tabs">
        <div class="tab" selected>
            {% set example = load_data(path="static/examples/hello.md") %}
            {{ example | markdown | safe }}
        </div>
        <div class="tab">
            {% set example = load_data(path="static/examples/fibonacci.md") %}
            {{ example | markdown | safe }}
        </div>
        <div class="tab">
            {% set example = load_data(path="static/examples/exceptions.md") %}
            {{ example | markdown | safe }}
        </div>
    </div>
</section>

<div class="explore-more text" onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Read More ⇩
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }

    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-image {
            display: none !important;
        }
    }
</style>
{% endblock hero %}

{% block footer %}
<!-- <footer> -->
<!--     <small class="subtext"> -->
<!--         <a href="https://kast-lang.org">kast-lang.org</a> -->
<!--     </small> -->
<!-- </footer> -->
{% endblock footer %}
