{% extends "juice/templates/index.html" %}

{% block sidebar %}
{% endblock sidebar %}

{% block hero %}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        Kast
    </h1>
    <h3 class="title-text">
        A first-class programming language
    </h3>
    <p style="color:white">
        Functions, types, templates, bindings, AST, IR, the compiler itself &mdash;
        everything is treat as value in Kast, bringing absolute power
    </p>
    <div>
        <a class="github-button" href="https://github.com/kast-lang/kast" data-size="large" data-show-count="true"
            aria-label="Star Kast on GitHub">Star</a>
    </div>
</section>
<img class="hero-image" style="width: 50%" src="{{ get_url(path="hello-world.png") }}">

<div class="explore-more text" onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    Read More ⇩
</div>
<style>
    .hero section {
        padding: 0 5rem;
    }

    @media screen and (max-width: 768px) {
        .hero section {
            padding: 0 2rem;
        }

        .hero-image {
            display: none
        }
    }
</style>
{% endblock hero %}
